html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
::-webkit-scrollbar {
  width: 16px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #eb5757;
}
::-webkit-scrollbar-thumb:hover {
  filter: brightness(125%);
}
.v-toolbar__content {
  padding: 0px !important;
}
a:hover {
  text-decoration: underline;
}
.img-border {
  border: 1px solid rgba(0, 0, 0, 0.25);
}
.headline-background {
  background-color: #f2f6fd;
}
