// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'Open Sans', sans-serif;
$btn-font-weight: 700;
$app-bar-elevation: 1;
$font-size-root: 16px;
$stepper-elevation: 0;
$stepper-header-elevation: 0;
$stepper-content-padding: 0px;
$carousel-controls-bg: rgba(0, 0, 0, 0.1);
$slide-group-prev-basis: 0px;
$tab-font-weight: 700;
.v-btn {
  text-transform: capitalize;
}
.v-tab {
  text-transform: capitalize;
}
